{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col">

                <form method="POST" class="card card-body">

                    <h2 style="text-align: center;">Pestaña de Asignación</h2>

                    <p style="color: red; font-size: 18px;">{{error}}</p>
    
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button class="btn btn-outline-primary">
                        Asignar
                    </button>
                </form>

            </div>
        </div>
    </main>
    
{% endblock %}