{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center display-3 py-5" style="font-weight: bold;">Inspecciones Locativas</h2>

                <div class="text-center">
                    <a href="{% url 'sedes' %}" class="btn btn-primary btn-lg btn-custom-width mb-3">Sedes</a>
                    <a href="{% url 'visitas' %}" class="btn btn-primary btn-lg btn-custom-width">Visitas</a>
                </div>

            </div>
        </div>
    </main>

    <style>
        .btn-custom-width {
            width: 520px; 
        }
    </style>
    
{% endblock %}