{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center display-3 py-5" style="font-weight: bold;">Asignación</h2>

                <form method="GET" class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Buscar por documento o nombre del contrato o del talento humano">
                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    </div>
                </form>

                <div class="row">
                    {% for relacion in relaciones %}
                    <div class="col-md-6">
                        <a class="card mb-3" href="{% url 'relacion_detail' relacion.id %}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% if relacion.contractType %}
                                        <span class="text-dark">{{ relacion.talentoHumano }} con {{ relacion.task }}</span>
                                    {% else %}
                                        <span class="text-danger">{{ relacion.talentoHumano }} con {{ relacion.task }}</span>
                                    {% endif %}
                                </h5>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

                {% if relaciones.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if relaciones.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1{% if search_term %}&search={{ search_term }}{% endif %}">Primera</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ relaciones.previous_page_number }}{% if search_term %}&search={{ search_term }}{% endif %}">Anterior</a></li>
                        {% endif %}
                        {% for i in relaciones.paginator.page_range %}
                            {% if relaciones.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only"></span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if search_term %}&search={{ search_term }}{% endif %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if relaciones.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ relaciones.next_page_number }}{% if search_term %}&search={{ search_term }}{% endif %}">Siguiente</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ relaciones.paginator.num_pages }}{% if search_term %}&search={{ search_term }}{% endif %}">Ultima</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if relaciones.paginator.num_pages > 1 %}
                    {% if relaciones.paginator.count >= 20 %}
                        <p class="text-center">Seleccione cuántas relaciones desea ver por página:</p>
                        <div class="d-flex justify-content-center mb-3">
                            <form method="get" action="{% url 'relaciones' %}">
                                <button type="submit" name="page_size" value="10" class="btn btn-primary me-2 {% if relaciones.paginator.per_page == 10 %}active{% endif %}">10</button>
                            </form>
                            <form method="get" action="{% url 'relaciones' %}">
                                <button type="submit" name="page_size" value="20" class="btn btn-primary me-2 {% if relaciones.paginator.per_page == 20 %}active{% endif %}">20</button>
                            </form>
                        </div>
                    {% endif %}
                    {% if relaciones.paginator.count >= 50 %}
                        <div class="d-flex justify-content-center mb-3">
                            <form method="get" action="{% url 'relaciones' %}">
                                <button type="submit" name="page_size" value="50" class="btn btn-primary {% if relaciones.paginator.per_page == 50 %}active{% endif %}">50</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </main>
    
{% endblock %}